name: Test and Build Wheel

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install pytest

    - name: Install build tools
      run: pip install build wheel

    - name: Run tests
      run: pytest -v

    - name: Build wheel file
      run: python -m build

    - name: Upload wheel as artifact
      uses: actions/upload-artifact@v3
      with:
        name: wheel-package
        path: dist/*.whl
